{% extends 'index/index.html' %}

{% block 'header_block' %}
<p>
    <a href={%url 'index'%}>
        Volver
    </a>
</p>
{% endblock 'header_block' %}
{% block 'body_block' %}
    <h1>Casos Smart Contracts</h1>
    <form class="form" action='' method='get' autocomplete="off">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button class="button">Buscar</button>
    </form>
</d>
<p>
    <a href={%url 'post_smart_contracts'%}>
        Agregar casos de Smart Contracts
    </a>
</p>
<br>
<br>
<br>
<div>
    <h3>
        Casos
    </h3>
    {% if sc_array %}
    <ul>
        {% for sc in sc_array %}
        <li>
           <span style="font-weight: 700">{{sc.case}}</span> - <a href={%url 'detail_smart_contracts' sc.id%}><b>Leer más</b>
           </li>
    {% endfor %}
</ul>
{% else %}
        <span>No hay páginas aún</span>
        {% endif %}
{% endblock 'body_block' %}
{% block background_block %}
{% endblock background_block %}