{% extends 'index/index.html' %}
{% block background_block %}
{% endblock background_block %}
{% block header_block %}
<p>
    <a href={%url 'index'%}>
        Volver
    </a>
</p>
{% endblock header_block %}
{% block 'body_block' %}
<form action={%url 'edit'%} method='post' autocomplete="off" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <button class="button">Editar</button>
</form>
{% if msg %}
    <p>{{msg}}</p>
{% endif %}
{% endblock 'body_block' %}