{% extends 'index/index.html' %}
{% block background_block %}
{% endblock background_block %}
{% block 'header_block' %}
<p>
    <a href={%url 'article'%}>
        Volver
    </a>
</p>
{% endblock 'header_block' %}
{% block 'body_block' %}

<h1>
    {{object.title}}
</h1>
<h2>
    {{object.subtitle}} - Por <b>{{object.user}}</b>
</h2>
{% if object.image %}
<img src="{{object.image.url}} " height='200'>
{% endif %}
<span class="article-text">
    {{object.info}}
</span>
<p class="date">
    {{object.date | date:'d/m/Y h:m'}}
</p>

<a class='delete-button' href={%url 'delete_article' article.id%}>Borrar</a>

<style>
    .main-container > * > *{
        margin: 10px
    }

    .article-text {
        width: 80%;
        text-align: center;
    }

    .date{
        font-weight: 700;
        font-size: 15px
    }
</style>
{% endblock 'body_block' %}