{% extends 'index/index.html' %}

{% block 'header_block' %}
<p>
    <a href={%url 'smart_contracts'%}>
        Volver
    </a>
</p>
{% endblock 'header_block' %}
{% block 'body_block' %}
<ul>
    <li><b>{{object.user}}</b></li>
    <li style='font-weight: 700'>{{object.case}}</li>
    <li><span style='font-weight: 700'>Experiencia:</span>{% if object.info %}
        {{object.info}}
        {% else %}
        Ups! Ha ocurrido un problema.
        {% endif %}
    </li>
</ul>
{% endblock 'body_block' %}
{% block background_block %}
{% endblock background_block %}