{% extends 'index/index.html' %}

{% block 'header_block' %}
    <h1>Deja tu experiencia!</h1>
    <form action='' method='post'>
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button class="button">Publicar</button>
    </form>

    <div>
        <h3>
            Experiencias
        </h3>
        <ul>
        {% for exp in experiences_array %}
            <li>
                <b>{{exp}}</b>: {{exp.experience}}
            </li>
            {% endfor %}
        </ul>
    </div>
    

{% endblock 'header_block' %}