{% extends 'index/index.html' %}

{% block 'header_block' %}
    <h1>Deja tu experiencia!</h1>
    <form action='' method='post' autocomplete="off">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button class="button">Publicar</button>
    </form>

    <div>
        <h3>
            Experiencias con Criptomonedas
        </h3>
        {% if experiences_array %}
        <ul>
            {% for exp in experiences_array %}
            <li>
                <b>{{exp}}</b>: {{exp.experience}}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <span>No hay experiencias aún. </span>
        {% endif %}
    </div>
    

{% endblock 'header_block' %}