{% extends 'index/index.html' %}

{% block 'header_block' %}
<p>
    <a href={%url 'index'%}>
        Volver
    </a>
</p>
<p style='margin-top: 5px'>
    <a href={%url 'post_article'%}>
        Publicar
    </a>
</p>
<div class="articles-container">
{% if article_array %}
    {% for article in article_array %}
    <div class="article">
            <a href={%url 'detail_article' article.id%}>
            <h3>
                {{article.title}}
            </h3>
            <h5>
                {{article.subtitle}} - Por <b>{{article.user}}</b>
            </h5>
            {% if article.image %}
            <img src="{{article.image.url}} " height='60'>
            {% endif %}
            <span>
                {{article.info | safe}}
            </span>
            <p class="date">
                {{article.date | date:'d/m/Y'}}
            </p>
        </a>
        </div> 
        {% endfor %}
        {% else %}
        <p style='background-color: white'>
            Aún no se han cargado noticias.
        </p>
    {% endif %}
</div> 

{% endblock 'header_block' %}