{% extends 'index/index.html' %}

{% block background_block %}
{% endblock background_block %}

{% block 'header_block' %}
<div>
    <img src='../../static/assets/img/image_6483441.JPG' height=200 style='border-radius:50%'> 
</div>
<div>
    <h2>
        Franco Calvella - Autor
    </h2>
    
<span style='padding: 10px'>
    Me llamo <b>Franco Calvella</b>. Tengo 21 años y soy de Temperley, Buenos Aires. Soy estudiante de comunicación en UBA y un apasionado por la tecnología. Recientemente pude terminar el curso de <b>Python</b> en <b>Coderhouse</b> para crear esta página. Pude aprender por mi cuenta <b>HTML</b>, <b>CSS</b> y <b>JavaScript</b>, decidiendo profundizar este último en <b>UTN</b>. Deseo seguir formándome en estos lenguajes de programación y descubrir hasta donde puedo llegar. 
</span>
</div>

<style>
    .main-container{
        display: flex;
        align-items: center
    }

</style>


{% endblock 'header_block' %}


