<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href={% static "css/style.css" %} rel="stylesheet" />        
        <link rel="stylesheet" href={% static "css/normalize.css" %}/>
        <link rel="icon" href="../../static/assets/img/Bitcoin-Logo.png">
        <title>Un Blog de Blockchain</title>
    </head>
    <body>
    {% block background_block %}
    <style>
        :root{
            background-image: url(../../static/assets/img/1267600.webp);
        }
    </style>
    {% endblock background_block %}

    <nav class="side-nav-container">
        <ul class="side-nav">
            {% if request.user.is_authenticated %}
            <li class="side-nav-element">
                {% if request.user.user_extension.avatar.url %}
                    <a href={% url 'profile' %}>
                        <img src={{request.user.user_extension.avatar.url}} alt="Foto de Perfil" height='30' style="border-radius: 8px">
                    </a>
                {% else %}
                    <img src="../../static/assets/img/Bitcoin-Logo.png" alt="Foto de Perfil" height='30' style="border-radius: 8px">
                {% endif %}
            </li>
            <li class="side-nav-element">
                <a href={% url 'edit' %} class="side-nav-text">Editar Perfil</a>
            </li>
            <li class="side-nav-element">
                <a href={% url 'logout' %} class="side-nav-text">Salir</a>
            </li>
            {% else %}
            <li class="side-nav-element">
                <a href={% url 'login' %} class="side-nav-text">Inicio Sesion</a> 
            </li>
            <li class="side-nav-element">
                <a href={% url 'signin' %} class="side-nav-text">Crear Usuario</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <header class="header-container">
        <a href={% url 'index' %}>
            <h1 class="title">
                Un Blog De Blockchain
            </h1>
        </a>
        <nav class="nav-container">            
                <ul class="nav-list">
                    <li class="nav-element">
                        <a class="nav-text" id="page" href={% url 'index' %}>Home</a> 
                    </li>
                    <li class="nav-element">
                        <a class="nav-text" id="page" href={% url 'article' %}>Noticias</a> 
                    </li>
                    <li class="nav-element" id="coins">
                        <a class="nav-text" href={% url 'coins' %}>Criptomonedas</a>  
                        <ul class="coin-list">
                            <li class="coin-list-element">
                                <a class="coin-list-text" href={% url 'post_coins' %}>Agregar Moneda</a>
                            </li>
                            <li class="coin-list-element">
                                <a class="coin-list-text" href={% url 'post_experience' %}>Experiencias</a>
                            </li>
                        </ul>  
                    </li>
                </ul>            
        </nav>
    </header>
    <section class="main-container">

        {% block 'header_block' %}

        {% endblock 'header_block' %}

        <div class='form-container'>
        {% block 'body_block' %}
        
        
        {% endblock 'body_block' %}
        </div>
    </section>
    <footer class="footer-container">
        <ul class="footer-nav">
            <li class="footer-nav-element">
                <a class="footer-nav-text" href="{% url 'about' %}">About Us</a>
            </li>
        </ul>
    </footer>

    
</body>
</html>