{% extends 'index/index.html' %}
{% block background_block %}
{% endblock background_block %}
{% block 'header_block' %}
<p>
    <a href={%url 'index'%}>
        Volver
    </a>
</p>
{% endblock 'header_block' %}
{% block 'body_block' %}
<div>
    <h1 style="text-align:center">Criptomonedas</h1>
    <form class="form" action='' method='get' autocomplete="off">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button class="button">Buscar</button>
    </form>
</div>
<p>
    <a href={%url 'post_coins'%}>
        Crear moneda
    </a>
</p>
<br>
<br>
<br>
<div>
    <h3>
        Lista de Criptomonedas
    </h3>
    {% if coins_array %}
    <ul>
        {% for coin in coins_array %}
            <li>
                <span>{{coin}}</span> <a href={%url 'detail_coin' coin.id%}> - <b>Leer más</b></a>
                <a class='edit-views' href={%url 'edit_coin' coin.id%}>Editar</a>
                <a class='delete-views' href={%url 'delete_coin' coin.id%}>Borrar</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
    <span>No hay Criptomonedas aún. </span>
    {% endif %}
</div>
{% endblock 'body_block' %}
    