{% extends 'index/index.html' %}

{% block 'header_block' %}
<p>
    <a href={%url 'index'%}>
        Volver
    </a>
</p>
{% endblock 'header_block' %}
{% block 'body_block' %}
<div>
    <h1 style="text-align:center">NFTs</h1>
    <form class="form" action='' method='get' autocomplete="off">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button class="button">Buscar</button>
    </form>
</div>
<p>
    <a href={%url 'post_nfts'%}>
        Agregar tu experiencia
    </a>
</p>
<br>
<br>
<br>
<div>
    <h3>
        Experiencias de usuarios con NFTs
    </h3>
    {% if nfts_array %}
        <ul>
            {% for nft in nfts_array %}
            <li>
                <span><b>{{nft.user}}</b> {{nft.title}}</span> <a href={%url 'detail_nfts' nft.id%}><b>Leer más</b>
                </li>
                {% endfor %}
            </ul>
    {% else %}
    <span>No hay páginas aún</span>
    {% endif %}
</div>
{% endblock 'body_block' %}
{% block background_block %}
{% endblock background_block %}