{% extends 'index/index.html' %}

{% block 'header_block' %}
<p>
    <a href={%url 'nfts'%}>
        Volver
    </a>
</p>
{% endblock 'header_block' %}
{% block 'body_block' %}
<h1>
    ¿Tuviste experiencias con NFT? ¡Agregala!
    </h1>
    <form action='' method='post' autocomplete="off">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button class="button">Agregar</button>
    </form>
{% endblock 'body_block' %}
{% block background_block %}
{% endblock background_block %}